.header{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
}
main{
    padding: 2rem;
}
.form{
    display: grid;
    grid-template-columns: 2.5rem 2.5rem / 1fr 1fr;
    grid-gap: 1.25rem;
    .form--inputs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        div{
            width: 50%;
        }
        input{
            width: 100%;
            padding: 1em;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }
    .form--button{
        border: 1px solid #ccc;
        padding: 1em;
        border-radius: 0.25rem;
        background: #672280;
        color: white;
        border: none;
        cursor: pointer;
    }
}
.meme {
    position: relative;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

@media screen and (max-width: 600px){
    .header{
        .header--title{
            display: none;
        }
    }
    
    .form{
        grid-template-columns: 1fr;
        .form--inputs{
            flex-direction: column;
            gap: 1rem;
            div{
                width: 100%;
            }
            input{
                width: 100%;
            }
        }
    }
    
}